<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact List</title>
  </head>
  <body>
    <h1>Here are your contacts: </h1>

    <ul>
      @foreach(var person in Model)
      {
        <li>@person.GetName()</li>
        <li>@person.GetPhone()</li>
        <li>@person.GetAddress()</li>
        <br>
      }
    </ul>

    <form action="/new-contact" method="get">
      <button type="submit" name="make-new-contact">Add Another Contact</button>
    </form>

    <form action="/contacts-deleted" method="post">
      <button type="submit" name="delete-contacts">Clear Contact</button>
    </form>


  </body>
</html>
