<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts Deleted</title>
  </head>
  <body>
    <h1>Address Book Cleared</h1>

    <form action="/" method="get">
      <button type="submit">Home</button>
    </form>
  </body>
</html>
