<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to a simple address book</h1>
    <br>
    <form action="/new-contact" method="get">
      <button type="submit" name="make-new-contact">Add New Contact</button>
    </form>
    <br>
    <form action="/contact-list" method="get">
      <button type="submit" name="listed-contacts">See Current Contacts</button>
    </form>

  </body>
</html>
