<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="Content/styles.css" rel="stylesheet" type="text/css">
    <title>Add New Contact</title>
  </head>
  <body class="container">
    <h1>Add Contact Information:</h1>
    <br>
    <form action="/name-added" method="post">
      <div class="form-group row">
        <label for="contact-name" class="col-sm-1 form-control-label">Name:</label>
        <div class="col-sm-7">
          <input id="contact-name" class="form-control" name="contact-name" type="text" placeholder="Name">
        </div>
        <br>
        <br>
        <br>
        <label for="contact-phone" class="col-sm-1">Phone:</label>
        <div class="col-sm-7">
          <input id="contact-phone" class="form-control" name="contact-phone" type="text" placeholder="Phone">
        </div>
        <br>
        <br>
        <br>
        <label for="contact-street" class="col-sm-1">Street: </label>
        <div class="col-sm-7">
          <input id="contact-street" class="form-control" name="contact-street" type="text" placeholder="Street Address">
        </div>
        <br>
        <br>
        <label for="contact-apartment" class="col-sm-1">Unit: </label>
        <div class="col-sm-7">
          <input id="contact-apartment" class="form-control" name="contact-apartment" type="text" placeholder="Apt. #">
        </div>
        <br>
        <br>
        <label for="contact-city" class="col-sm-1">City: </label>
        <div class="col-sm-7">
          <input id="contact-city" class="form-control" name="contact-city" type="text" placeholder="City">
        </div>
        <br>
        <br>
        <label for="contact-state" class="col-sm-1">State: </label>
        <div class="col-sm-7">
          <input id="contact-state" class="form-control" name="contact-state" type="text" placeholder="State">
        </div>
        <br>
        <br>
        <label for="contact-zip" class="col-sm-1">Street: </label>
        <div class="col-sm-7">
          <input id="contact-zip" class="form-control" name="contact-zip" type="text" placeholder="Street Address">
        </div>
        <br>
        <br>
        <br>
      <button type="submit" class="btn-lg btn-success btn-block">Submit</button>

    </form>
  </body>
</html>
